@media screen and (max-width: 576px) {
    .nav-container {
        flex-direction: column;
        width: 100%;

    }
    .nav-item-container {
        flex-direction: column;
    }
    .banner-container {
        flex-direction: column;
    }
    .banner-info {
        margin-top: 50px;
        width: 100%;
        padding: 0;
    }
    .banner-pic {
        width: 100%;
        height: 100%;

    }
    .we-are-gamer {
        width: 100%;
    }
    .banner-downimg {
        width: 100%;
        flex-direction: column;
    }
    #kasem {
        width: 100%;
    }mg {
        margin-top: 50%;
        flex-direction: column;
        height: 100%;
    }
    .play-ins {
        width: 300px;
        flex-direction: column;
    }
    .career-text {
        flex-direction: column;
    }
    .careear-img {
        height: 100%;
        width: 100%;
    }
    .ins-title {
        display: none;
    }
    .card-img {
        flex-direction: column;
        flex-wrap: wrap;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        height: 100%;
    }
    .careers {
        flex-direction: column;
        padding: 0px;
        height: 100%;
        width: 100%;
    }
    .career-title {
        width: 100%;
        padding: 0px;
    }
    .ins-dis {
        width: auto;
        position: relative;
        right: 100px;
        top: 50px;
    }
    .dt2 {
        width: 100%;
        text-align: center;
        position: relative;
        left: 15px;
    }
    #sahin {
        visibility: hidden;
    }
    .ins-pics{display: none;
    }
    .ins-pics2{display: none;
    }
    .play-ins2{
        width: 0%;
        flex-direction: column;
    }
    .footer-container {
        padding: 0;
        flex-direction: column;
    }
    .ft-support {
        flex-direction: column;
    }
    .ft-about {
        padding: 0;
        margin: 0;
        flex-direction: column;
    }
    
}
@media(min-width: 576px) and (max-width: 992px) {
    body {
        overflow: auto;
    }
    .nav-container{
        flex-direction: column;
    }
    .banner-downimg {
        flex-direction: column;
    }
    .banner-info {
        flex-direction: column;
    }
    .online-game {
        flex-direction: column;
    }
    .card-img {
        flex-direction: column;
        flex-wrap: wrap;
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .ins-title, .ins-dis{
        visibility: hidden;
    }
    .play-ins {
        flex-direction: column;
    }
    .careers {
        flex-direction: column;
        padding: 0px;
        height: 100%;
        width: 100%;
    }
    .ins-dis2 {
        display: none;
    }
    .kofil {
        display: none;
    }
    
    .ins-pics{
        border: none;
        padding: 0;
        margin: 0;
        position: relative;
        right: 50px;
    }
    .rafi {
        display: none;
    }
    .rouf {
        max-width: 100%;
    }
    .banner-info {
        flex-direction: column;
    }
    .careear-img {
        display: none;
    }
    .banner-container {
        flex-direction: column-reverse;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
}
    